<div class="chat-header">
  <div class="left-header">
    <div class="header-title">
      <%= @channel.channel %>
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <div class="chat-edit">
      <%= link_to "チャンネル編集", edit_channel_path(@channel.id) %>
      </div>
      <div class="header-destroy">
      <%= link_to "チャンネル終了", channel_path(@channel), method: :delete %>
      </div>
    </div>
  </div>
</div>

<div class="messages">
  <%= render partial: 'post', collection: @posts %>
</div>

<%= form_with model: [@channel, @post], class: 'form', local: true do |f| %>
  <div class="form-input">
    <%= f.text_field :content, class: 'form-message', placeholder: 'type a message' %>
    <div class="deadline-text">
      締切日選択
    </div>
    <%= f.date_field :deadline, class: "deadline-calendar" %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'form-submit' %>
<% end %>