<div class="message">
  <div class="upper-message">
    <div class="message-user">
      <!-- 投稿したユーザー名情報を出力する -->
      <%= post.user.name %>
    </div>
    <div class="message-date">
      <!-- 投稿した時刻を出力する -->
      <%= l post.created_at %>
    </div>
    <div class="post-deadline">
    <% @deadlines.each do |deadline| %>
      <% if post.id == deadline.post.id && deadline.deadline %>
        締切日：<%= deadline.deadline %>
      <% end %>
    <% end %>
    </div>
  </div>
  <div class="lower-message">
    <div class="message-content">
      <!-- 投稿したメッセージ内容を記述する -->
      <div class="post-content">
      <%= post.content %>
      </div>
    </div>
     <%= image_tag post.image.variant(resize: '500x500'), class: 'message-image' if post.image.attached? %>
    <div class="message-other">
      <div class="post-like", id="like-btn-<%= post.id %>">
      <%= render 'likes/like', post: post %>
      </div>
      <% if post.hold %>
        <%= button_to '保留解除', channel_post_hold_path(@channel, post, @holds), class: 'form-update', method: :delete %>
      <% else %>
        <%= button_to '保留', channel_post_holds_path(@channel, post), class: 'form-update' %>
      <% end %>
    </div>
  </div>
</div>