<h1>MEMO</h1>
<%= form_with model: [@channel, @memos], url: channel_memos_path(@channel), method: :post, local: true do |form| %>
  <%= form.text_field :memo %>
  <%= form.submit '投稿する', id: "submit" %>
<% end %>

<div id="list">
</div>

<% @memos.each do |memo| %>
  <div class="memo">
    <div class="memo-date">
      投稿日時：<%= l memo.created_at %>
    </div>
    <div class="memo-content">
      <%= memo.memo %>
    </div>
  </div>
<% end %>